video:focus {
  outline: none !important;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}